header{
    background-color: #1f4b2aec;
    text-align: center;
    height: 70px;
}

header h1{
padding-top: 0px;
}

*{
    margin: 0;
    padding: 0;
}

footer{
    background-color: #1f4b2aec;
    text-align: center;
    height: 55px;
    margin: 1% 0% 0% 0%;
}


a{
    text-decoration: none;
}

body{
    color: #ffffff;
    background-color: #8fb19d;
}

h1{
    text-align: center;
    font-style: inherit;
}

h3{
   font-style: inherit;
}

.h12{
    color: white;
}

.h13{
    color: black;
}

.container{
    padding-top: 46px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 1060px;
    background-color: #8fb19dc4;
}

.elemento{
    padding-top: 20px;
    position: relative;
    width: 15%;
    height: 60px;
    background-color: #1f4b2ab9;
    border: 1px solid #1f4b2ab9;
    border-radius: 20px;
    cursor: pointer;
}

.container1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 835px;
    background-color: #8fb19dc4;
}

.elemento1{
    padding-top: 10px;
    position: relative;
    width: 70%;
    height:620px;
    background-color: #1f4b2ab9;
    border: 1px solid #1f4b2ab9;
    border-radius: 20px;
}

.quadrado1{
    position: absolute;
    right: 3%;
    top: 12%;
    width: 60%;
    height: 80%;
    background-color: #1f4b2a00;
    border: 1px solid #1f4b2a00;
}

.img1{
        margin: 3% 4% 4% 5%;
        width: 30%;
        height: 60%;
}

.txt1{
    position: absolute;
    top: 22%;
}

.txt2{
    position: absolute;
    top: 32%;
}

.txt3{
    position: absolute;
    top: 38%;
}

.txt4{
    position: absolute;
    top: 44%;
}

.txt5{
    position: absolute;
    top: 50%;
}

.txt6{
    position: absolute;
    top: 56%;
}

.adctxt1{
    position: absolute;
    top: 66%;
}

.img2{
    margin: 3% 4% 4% 5%;
    width: 30%;
    height: 60%;
}

.txt7{
    position: absolute;
    top: 18%;
}

.txt8{
    position: absolute;
    top: 28%;
}

.txt9{
    position: absolute;
    top: 38%;
}

.txt10{
    position: absolute;
    top: 48%;
}

.txt11{
    position: absolute;
    top: 54%;
}

.txt12{
    position: absolute;
    top: 60%;
}

.adctxt2{
    position: absolute;
    top: 70%;
}

.img3{
    margin: 3% 4% 4% 5%;
    width: 30%;
    height: 60%;
}

.txt13{
    position: absolute;
    top: 26%;
}

.txt14{
    position: absolute;
    top: 36%;
}

.txt15{
    position: absolute;
    top: 42%;
}

.txt16{
    position: absolute;
    top: 48%;
}

.txt17{
    position: absolute;
    top: 54%;
}

.txt122{
    position: absolute;
    top: 60%;
}

.adctxt3{
    position: absolute;
    top: 78%;
}

.img4{
    margin: 3% 4% 4% 5%;
    width: 30%;
    height: 60%;
}

.txt18{
    position: absolute;
    top: 33%;
}

.c11{
    position: absolute;
    top: 23%;
}

.c12{
    position: absolute;
    top: 39%;
}

.c13{
    position: absolute;
    top: 45%;
}

.c14{
    position: absolute;
    top: 51%;
}

.c15{
    position: absolute;
    top: 57%;
}

.adctxt4{
    position: absolute;
    top: 67%;
}

.img5{
    margin: 3% 4% 4% 5%;
    width: 30%;
    height: 60%;
}

.txt19{
    position: absolute;
    top: 39%;
}

.txt20{
    position: absolute;
    top: 49%;
}

.txt21{
    position: absolute;
    top: 55%;
}

.txt22{
    position: absolute;
    top: 61%;
}

.m1{
    position: absolute;
    top: 67%;
}

.m2{
    position: absolute;
    top: 73%;
}

.adctxt5{
    position: absolute;
    top: 83%;
}

.img6{
    margin: 3% 4% 4% 5%;
    width: 30%;
    height: 60%;
}

.txt23{
    position: absolute;
    top: 23%;
}

.txt24{
    position: absolute;
    top: 33%;
}

.txt25{
    position: absolute;
    top: 39%;
}

.txt26{
    position: absolute;
    top: 45%;
}

.txt27{
    position: absolute;
    top: 51%;
}

.f1{
    position: absolute;
    top: 57%;
}

.adctxt6{
    position: absolute;
    top: 68%;
}

.img7{
    margin: 3% 4% 4% 5%;
    width: 30%;
    height: 60%;
}

.txt28{
    position: absolute;
    top: 30%;
}

.txt29{
    position: absolute;
    top: 41%;
}

.txt30{
    position: absolute;
    top: 48%;
}

.txt31{
    position: absolute;
    top: 55%;
}

.txt32{
    position: absolute;
    top: 62%;
}

.txt33{
    position: absolute;
    top: 69%;
}

.adctxt7{
    position: absolute;
    top:79%;
}

.img8{
    margin: 3% 4% 4% 5%;
    width: 30%;
    height: 60%;
}

.txt34{
    position: absolute;
    top: 18%;
}

.txt35{
    position: absolute;
    top: 28%;
}

.txt36{
    position: absolute;
    top: 34%;
}

.txt37{
    position: absolute;
    top: 40%;
}

.txt38{
    position: absolute;
    top: 46%;
}

.txt39{
    position: absolute;
    top: 52%;
}

.adctxt8{
    position: absolute;
    top:62%;
}

.img9{
    margin: 3% 4% 4% 5%;
    width: 30%;
    height: 60%;
}

.txt40{
    position: absolute;
    top: 26%;
}

.txt41{
    position: absolute;
    top: 36%;
}

.txt42{
    position: absolute;
    top: 42%;
}

.txt43{
    position: absolute;
    top: 48%;
}

.txt44{
    position: absolute;
    top: 58%;
}

.txt45{
    position: absolute;
    top: 64%;
}

.adctxt9{
    position: absolute;
    top:78%;
}

.quadrado2{
    position: absolute;
    right: 2.5%;
    top: 10%;
    width: 90%;
    height: 85%;
    background-color: #0428dd00;
    border: 1px solid #1f4b2a00;
}

.ag1{
    position: absolute;
    top: 0%;
}

.ag2{
    position: absolute;
    top: 12%;
}

.ag3{
    position: absolute;
    top: 24%;
}

.ag4{
    position: absolute;
    top: 35%;
}

.ag5{
    position: absolute;
    top: 46%;
}

.ag6{
    position: absolute;
    top: 54%;
}

.ag7{
    position: absolute;
    top: 62%;
}

.ag8{
    position: absolute;
    top: 73%;
}

.ag9{
    position: absolute;
    top: 85%;
}

.container2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height:485px;
    background-color: #8fb19dc4;
}

.elemento2{
    position: relative;
    width: 40%;
    height: 400px;
    background-color: #1f4b2ab9;
    border: 1px solid #1f4b2ab9;
    border-radius: 20px;
}

.container3{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 485px;
    background-color: #8fb19dc4;
}

.elemento3{
    position: relative;
    width: 40%;
    height: 400px;
    background-color: #1f4b2ab9;
    border: 1px solid #1f4b2ab9;
    border-radius: 20px;
}

.info1{
    position: absolute;
    right: 2.5%;
    top: 15%;
    width: 65%;
    height: 80%;
    background-color: #0004ff00;
    border: 1px solid #1f4b2a00;
}

.nos{
    margin: 4% 4% 4% 4%;
    width: 28%;
    height:260px;
    border-radius: 10px;
}

.idad{
    position: absolute;
    top: 4%;
    left: 5%;
}

.informacoes{
    position: absolute;
    top: 15%;
    left: 5%;
}

.impor{
    position: absolute;
    top: 44%;
    left: 5%;
}

.imgtopo{
    margin: 0px 735px 0px 40px;
    width: 70px;
}

.container20{
    display: flex;
    align-items: center;
}

.ds2{
    text-align: center;
    color:  white;
    font-style: inherit;
}

